.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


li {
  display: block;
  transition-duration: 0.5s;
}


a {
  margin: 10px;
  position:relative;
  display: contents;
  color: goldenrod;
}

.appRoot {
  height: 100vh;
  background: repeating-linear-gradient(
        -55deg,
        #222,
        #222 10px,
        #333 10px,
        #333 20px
    );overflow: auto;
  
}

.navMenu {
  display: flex;
  padding: 0;
  background-color:dimgrey;
}

.navMenuItem {
  display:inline-block;
  margin: 10px 10px;
  width:100%;
  float: right; 
  text-align: center;
}  


ul li:not(:last-child) {
  border-right: 1px solid black;
}

.ffbox {
  display: flex;
  align-items: stretch;
  justify-content:space-evenly;
}
