.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}


li {
  display: block;
  transition-duration: 0.5s;
}


a {
  margin: 10px;
  position:relative;
  display: contents;
  color: goldenrod;
}

/* .navBox {
  padding: 5%;
  display: flex;
  flex-flow: nowrap;
  align-content: center;

} */

.navMenu {
  display: flex;
  padding: 0;
  background-color:dimgrey;
}

.navMenuItem {
  display:inline-block;
  margin: 10px 10px;
  width:100%;
  float: right; 
  text-align: center;
}  

/* ul li {
  display: inline-block;
} */

ul li:not(:last-child) {
  border-right: 1px solid black;
}
